// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
.hero-unit {
  position: relative;
  margin: 50px auto 0 auto;
  width: 300px;
  height: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  p{
    margin-left: 50px;
  }
  .menu-link{
    top:5px;
    left: 5px;
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    z-index: 2;
    border-radius: 50%;
    background: #fff;
    span{
      position: absolute;
      display: block;
      width: 16px;
      height: 2px;
      background: #000;
      left: 50%;
      margin: -1px 0 0 -8px;
      top: 50%;
    }
    span::before, span::after{
      position: absolute;
      display: block;
      width: 16px;
      height: 2px;
      background: #000;
      left: 50%;
      margin: -1px 0 0 -8px;
      top: 50%;
    }
    span::before{
      content: '';
      margin-top: -6px;
      transition: all .4s ease-in-out;
    }
    span::after{
      content: '';
      margin-top: 4px;
      transition: all .4s ease-in-out;
    }
  }
  .menu-link_active{ 
    span{
      background: transparent;
    }
    span::after{
      transform: translate(0,-4px) rotate(-225deg);
    }
    span::before{
      transform: translate(0,6px) rotate(225deg);
    }
  }
  .menu{
    z-index: 1;
    background-color: #99f;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
    ul{
      margin-left: 80px;
      padding: 0;
      list-style: none;
    }
    ul li{
      float: left;
      padding-right: 20px;
    }
    p{
      margin: 150px 0 0 150px;
    }
    .socials{
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 260px;
      margin-left: -130px;
    }
    .socials a{
      padding-left: 15px;
      display: inline-block;
    }
  }
  .menu_active{
    visibility: visible;
    opacity: 1;
  }
}



